body {
   margin-top: 0;
}

.image-item {
   position: relative;
}

img {
   width: 1024px;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 0;
}

h1 {
   font-family: 'Open Sans', sans-serif;
   font-size: 60px;
   z-index: 1;
   position: absolute;
   left: 65px;
   top: 50px;
   /* border: 1px solid black; */
}

p {
   display: block;
   position: absolute;
   top: 110px;
   left: 120px;
   z-index: 1;
   /* border: 1px solid black; */
   font-style: italic;
}
