body {
   font-family: 'Open Sans', sans-serif;
}

.image-item {
   position: relative;
}

img {
   width: 1024px;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 0;
}

h1 {
   font-size: 60px;
   z-index: 1;
   position: absolute;
   left: 65px;
   top: 50px;
}

#subtitle {
   display: block;
   position: absolute;
   top: 110px;
   left: 123px;
   z-index: 1;
   font-style: italic;
}

.arvo-quote-container {
   width: 450px;
   right: -480px;
   top: 194px;
   z-index: 1;
   position: relative;
   white-space: pre;
}

#arvo-quote {
   display: block;
   position:absolute;
   line-height: 22px;
   font-style: italic;
}

#attribution-container {
   text-align: right;
   bottom: 0;
   right: 0;
   margin-top: -40px;
   margin-right: 60px;
}

#list-of-songs {
   position: relative;
   z-index: 1;
   top: 250px;
   left: 275px;
}

ul {
   list-style-type: none;
   white-space: pre;
}

.listed-song {
   margin-bottom: -16px;
   font-size: 8pt;
}

#reviews-title-container {
   position: relative;
   top: 431px;
   left: 107px;
   z-index: 1;
   font-size: 30pt;
}

.review-item-container {
   position: relative;
   width: 700px;
   top: 455px;
   left: 90px;
   letter-spacing: .5px;
}

.review-text {
   display: block;
   font-size: 11pt;
   white-space: pre;
   font-style: italic;
   line-height: 18px;
}


/* width: 400px;
border: 1px solid black;
top: 431px;
left: 600px; */
